    

<div  data-bind="visible: btnJobInformation">
    <div id="JobInformation">
        <table class="table table-hover ">
            <tbody>
                
                @Html.Partial("~/Views/NewEmployee/NewEmployeeJobInfomrationView.cshtml")
            </tbody>
            
        </table>
    </div>
</div>

