  <div id="Working Hours">
        <table class="table table-hover ">
            <tbody>
                @Html.Partial("~/Views/NewEmployee/NewEmployeeWorkingHoursView.cshtml")
            </tbody>
        </table>
    </div>